<a href="https://colab.research.google.com/github/jshuawu/data-notebooks/blob/main/MachineLearning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [6]:
url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vTDsF-Aey_9_nQWZPFiAZgavpg8p2WEH0oLtofQI9E7XoCQrpe7uSlyqcFnGibYTrpy6RnIa2Vq1Dba/pub?output=csv'

In [8]:
df = pd.read_csv(url)

In [9]:
print(df.head())

    type  fixed acidity  volatile acidity  citric acid  residual sugar  \
0  white            7.0              0.27         0.36            20.7
1  white            6.3              0.30         0.34             1.6
2  white            8.1              0.28         0.40             6.9
3  white            7.2              0.23         0.32             8.5
4  white            7.2              0.23         0.32             8.5

   chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  \
0      0.045                 45.0                 170.0   1.0010  3.00
1      0.049                 14.0                 132.0   0.9940  3.30
2      0.050                 30.0                  97.0   0.9951  3.26
3      0.058                 47.0                 186.0   0.9956  3.19
4      0.058                 47.0                 186.0   0.9956  3.19

   sulphates  alcohol  quality
0       0.45      8.8        6
1       0.49      9.5        6
2       0.44     10.1        6
3       0.40      9.9        6
4       0.40      9.9        6

In [10]:
num_rows, num_cols = df.shape
print(num_rows, num_cols)

6497 13

In [12]:
df = df.iloc[:, 1:num_cols] # get rid of string column
print(df.head())

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.0              0.27         0.36            20.7      0.045
1            6.3              0.30         0.34             1.6      0.049
2            8.1              0.28         0.40             6.9      0.050
3            7.2              0.23         0.32             8.5      0.058
4            7.2              0.23         0.32             8.5      0.058

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 45.0                 170.0   1.0010  3.00       0.45
1                 14.0                 132.0   0.9940  3.30       0.49
2                 30.0                  97.0   0.9951  3.26       0.44
3                 47.0                 186.0   0.9956  3.19       0.40
4                 47.0                 186.0   0.9956  3.19       0.40

   alcohol  quality
0      8.8        6
1      9.5        6
2     10.1        6
3      9.9        6
4      9.9        6

In [ ]:
data = df.values

In [ ]:
# build out x variables and y variables
y_idx = 10
x_idxs = []
# add every index that isn't our output
for i in range (num_cols):
  if i != y_idx:
    x_idxs.append(i)

In [ ]:
print(x_idxs)

In [ ]:
X, y = data[:, x_idxs], data[:, y_idx]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 1)

In [ ]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

In [ ]:
yhat = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error

In [ ]:
avg_error = mean_absolute_error(y_test, yhat)

In [ ]:
print(avg_error)

In [ ]:
import matplotlib.pyplot as pit

In [ ]:
plt.scatter(y_test, y_hat)
plt.xlabel('Actual Value')
plt.ylabel('Predicted Value')

In [ ]:
var_names = df.columns
print(var_names)

In [ ]:
coeffs = model.coef_
intercept = model.intercept_

In [ ]:
print(f"The amount of {var_names[y_idx]} is modelled by:")
x_var_names = df.columns.tolist()
x_var_names.remove(var_names(y_idx))

In [ ]:
for i in range(len(x_var_names)):
  print(f"{coeffs[i]} times {x_var_names[i]}")